In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('par.csv')

In [24]:
df = df.melt(id_vars=["name"], 
        var_name="column", 
        value_name="value")

In [25]:
df['value']

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8      True
9      True
10     True
Name: value, dtype: bool

In [36]:
df[df['value']][['name','column']].set_index('name')['column'].to_list()

['prophet', 'tslm', 'stlf', 'croston']

In [8]:
df[df['HankMoody']]

    HankMoody
7        True
8        True
9        True
10       True