In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('date.csv')

In [16]:
df.head()

,sku_code,sc_node_code,sale_date,sale_qty,VARIANT,PRODUCT,BRAND,CATEGORY,DIVISION,CITY,STATE,REGION,COUNTRY,sku_description,node_description
0,H004169,C000187,2017-06-01,550.00,DIET CHIWDA,DIET CHIWDA,DIET NAMKEEN,NAMKEEN,SMALL DIVISION,RISHIKESH,UTTARAKHAND,NaN,NaN,DIET CHIDWA 50 GMS* 10.00,JAI DURGA TRADERS (RISHIKESH)
1,H044357,C000167,2017-06-01,56814.86,BHUJIA-MASALA,BHUJIA,SEV BHUJIA,NAMKEEN,SMALL DIVISION,VARANASI,UTTAR PRADESH,NaN,NaN,BHUJIA 18GM*9.072,AGARWAL MILLS - VARANASI
2,H004176,C000768,2017-06-01,70.00,DIET MURMURA,DIET MURMURA,DIET NAMKEEN,NAMKEEN,SMALL DIVISION,MURADABAD,UTTAR PRADESH,NaN,NaN,DIET MURMURA 50 GMS*10.00,ADITIYA VEER TRADING CO.
3,H007652,C000231,2017-06-01,12.00,SYRUP ROSE,SYRUP,SYRUP,NON-SALTY,BIG DIVISION,PATNA,BIHAR,NaN,NaN,ROSE SYRUP 1*12,SWASTIK SALES CORP. - PATNA
4,H007652,C000232,2017-06-01,984.00,SYRUP ROSE,SYRUP,SYRUP,NON-SALTY,BIG DIVISION,GHAZIABAD,UTTAR PRADESH,NaN,NaN,ROSE SYRUP 1*12,T K AGENCIES (GHAZIABAD)

In [21]:
df['sale_date'].unique()

array(['2022-06-01T00:00:00.000000000', '2022-07-01T00:00:00.000000000',
       '2022-08-01T00:00:00.000000000', '2022-09-01T00:00:00.000000000',
       '2022-10-01T00:00:00.000000000', '2022-11-01T00:00:00.000000000',
       '2022-12-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2018-08-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-11-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2019-03-01T00:00:00.000000000',
       '2019-04-01T00:00:00.000000000', '2019-05-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [18]:
df['sale_date'] = pd.to_datetime(df['sale_date'])

In [20]:
df['sale_date'] = df['sale_date'].mask(df['sale_date'].dt.year == 2017, 
                             df['sale_date'] + pd.offsets.DateOffset(year=2022))

C:\Users\Parkash.Sharma\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:743: PerformanceWarning: Non-vectorized DateOffset being applied to Series or DatetimeIndex
  "or DatetimeIndex", PerformanceWarning)

In [10]:
pd.to_datetime(df['sale_date']).dt.year

0         2017
1         2017
2         2017
3         2017
4         2017
5         2017
6         2017
7         2017
8         2017
9         2017
10        2017
11        2017
12        2017
13        2017
14        2017
15        2017
16        2017
17        2017
18        2017
19        2017
20        2017
21        2017
22        2017
23        2017
24        2017
25        2017
26        2017
27        2017
28        2017
29        2017
          ...
206841    2019
206842    2019
206843    2019
206844    2019
206845    2019
206846    2019
206847    2019
206848    2019
206849    2019
206850    2019
206851    2019
206852    2019
206853    2019
206854    2019
206855    2019
206856    2019
206857    2019
206858    2019
206859    2019
206860    2019
206861    2019
206862    2019
206863    2019
206864    2019
206865    2019
206866    2019
206867    2019
206868    2019
206869    2019
206870    2019
Name: sale_date, Length: 206871, dtype: int64