In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('SP_DF').getOrCreate()

In [3]:
df = spark.read.json('../Data/input/sample/people.json')

In [4]:
df

DataFrame[age: bigint, name: string]

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [10]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [11]:
data_schema

[StructField(age,IntegerType,true), StructField(name,StringType,true)]

In [12]:
final_strc = StructType(data_schema)

In [13]:
final_strc

StructType(List(StructField(age,IntegerType,true),StructField(name,StringType,true)))

In [14]:
df = spark.read.json('../Data/input/sample/people.json',schema=final_strc)

In [15]:
df

DataFrame[age: int, name: string]

In [17]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
type(df['age'])

pyspark.sql.column.Column

In [20]:
df.select('age')

DataFrame[age: int]

In [21]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [27]:
df.head(2)[0]

Row(age=None, name='Michael')

In [29]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
df.withColumn('new_age',df['age']).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     30|
|  19| Justin|     19|
+----+-------+-------+

In [33]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [34]:
df.withColumnRenamed('age','new_col_name').show()

+------------+-------+
|new_col_name|   name|
+------------+-------+
|        null|Michael|
|          30|   Andy|
|          19| Justin|
+------------+-------+

In [35]:
df.createOrReplaceTempView('people')

In [36]:
df

DataFrame[age: int, name: string]

In [37]:
results = spark.sql("Select * from people")

In [38]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
new_results = spark.sql("SELECT * FROM people where age = 30")

In [42]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+